* {
  margin: 0;
  padding: 0;
  height: auto;
}

body {
  font-family: cursive;
  overflow-x: hidden;
  overflow-x: hidden;
  /* background-image: url(./img/nb.jpg); */
  background-color: rgb(223, 219, 219);
  background-attachment: fixed;
}

p {
  font-size: 15px;
}
body img {
  width: 100%;
  height: 600px;
}

a:hover {
  color: red;
}
.nav img {
  width: 80px;
  height: 80px;
}

.logo h2 {
  color: white;
  margin-left: -100px;
}

.header .ket {
  display: flex;
}

/* navbar */
.nav {
  display: flex;
  background-color: rgb(94, 94, 221);
  justify-content: space-around;
  /* padding: 20px 0; */
  color: wheat;
  height: 100px;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-between;
}

.nav ul li a {
  color: wheat;
  text-decoration: none;
  font-size: 1em;
}

.nav ul li a:hover {
  color: red;
}

/* hamburge menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -6;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: wheat;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* gambar utama */
.gambar-header {
  max-width: 1300px;
  color: black;
  background-image: url(./pleton.jpeg);
  height: 555px;
}

.gambar-header img {
  width: 100%;
}

.gambar-header h2 {
  text-align: center;
  align-items: center;
}

/* info */
.container-tiga {
  max-width: 1300px;
  margin: 50px auto;
  color: black;
  padding: 25px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px 5px black;
}

.container-tiga img {
  width: 200px;
  height: 250px;
  text-align: center;
  box-shadow: 0px 0px 10px 5px black;
}

.kepsek.satu {
  padding: 20px;
}

.kepsek.dua h2 {
  margin-bottom: 15px;
}

.kepsek.dua {
  padding: 20px;
  text-align: justify;
}

.namakepsek {
  text-align: center;
  margin-top: 10px;
}
/* Berita */

.container-satu {
  max-width: 1300px;
  margin: 50px auto;
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  color: whitesmoke;
}

.content {
  flex: 2;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 15px;
}

.berita {
  width: auto;
  justify-content: center;
  margin-top: 15px;
  flex-wrap: wrap;
}

.berita h4 {
  border-top: 5px solid orange;
}

.artikel {
  padding: 10px;
  margin: 5px;
  box-shadow: 0px 0px 10px 5px black;
  background-color: whitesmoke;
  color: black;
}

.artikel:hover {
  box-shadow: 5px 5px 15px black;
  margin-top: 5px;
  transition: 0.3s;
}

.artikel p {
  margin: 15px;
}

.artikel h3 {
  margin: 15px;
}

.imgberita1 img {
  width: 370px;
  height: 195px;
  margin: 10px;
}

.imgberita2 img {
  width: 370px;
  height: 195px;
  margin: 10px;
}

.logojudul {
  display: flex;
  color: black;
  background-color: rgb(7, 168, 7);
  padding: 10px;
  padding: 15px;
  border-radius: 5px;
}

.logojudul h3 {
  margin-left: 15px;
  color: black;
}

.captionberita b {
  background-color: blue;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
}

.captionberita b:hover {
  color: black;
}

/* berita terbartu.html */
.container-berita {
  max-width: 1300px;
  margin: 60px auto;
  background-color: whitesmoke;
  border-radius: 10px;
}
.news {
  padding: 30px;
  box-sizing: border-box;
  margin: 15px;
}

.news img {
  height: 190px;
  width: 380px;
  float: left;
  padding-right: 20px;
}

.news p {
  text-indent: 45px;
  padding: 15px;
  text-align: justify;
}

.news h2 {
  margin-bottom: 20px;
}

/* information  sidebar*/
.sidebar {
  flex: 1;
  padding: 25px;
  box-sizing: border-box;
  margin: 15px;
}

.sidebar p {
  color: rgb(53, 52, 52);
}

.sidebar h4 {
  text-align: center;
  border-bottom: green solid 5px;
  color: black;
  margin: 0px;
}

a {
  text-decoration: none;
  color: rgb(81, 81, 255);
}

a h4 {
  color: rgb(33, 33, 36);
}

.info {
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 5px 5px 10px 2px black;
}

.info p {
  margin-top: 10px;
}

.info b {
  background-color: green;
  color: white;
  padding: 3px;
  border-radius: 10px;
  font-size: 12px;
}

.info b:hover {
  color: black;
}

.info:hover {
  box-shadow: 5px 5px 15px 2px black;
  transition: 0.3s;
}
.info img {
  width: 360px;
  height: 180px;
}

/* Container-dua footer widgets*/
.container-dua {
  max-width: 1350px;
  margin: 0px;
  background-color: rgb(94, 94, 221);
  color: white;
}

.widgets {
  padding: 5px;
  box-sizing: border-box;
  margin: 50px auto;
}

.widgets h3 {
  margin-bottom: 10px;
}

.icon {
  margin-bottom: 5px;
}

.tombol {
  padding: 5px;
}
.tombol:hover {
  box-shadow: 0px 0px 10px 5px white;
}

/* footer  */
.footer {
  text-align: center;
  justify-content: center;
  background-color: rgb(67, 67, 245);
  padding-top: 10px;
  padding-bottom: 10px;
}

/* CSS PROFIL.HTML */
.container-profil {
  max-width: 1300px;
  color: black;
  margin: 50px auto;
  background-color: white;
  box-shadow: 5px 5px 15px black;
  border-radius: 10px;
  padding: 10px;
}

.imgsmk img {
  width: 94%;
  height: 550px;
  padding: 0px;
  margin-left: 38px;
}

.container-profil p {
  text-indent: 40px;
  padding: 25px;
  text-align: justify;
}

.container-profil h2 {
  padding: 15px;
  text-align: center;
  font-size: 40px;
}

.containervisi-misi {
  max-width: 1300px;
  margin: 50px auto;
  text-align: center;
}

.containervisi-misi img {
  height: 900px;
  width: 700px;
}

.containervisi-misi img:hover {
  box-shadow: 0px 0px 10px black;
  transition: 0.3s;
}

.containervisi-misi h2 {
  color: black;
  font-size: 40px;
  margin-bottom: 25px;
}

/* Sosial Media */
.tombol {
  width: 50px;
  height: 50px;
  color: white;
  margin: 10px;
  border-radius: 5%;
  box-sizing: border-box;
}

/* contact */

.container-kontak {
  max-width: 1300px;
  margin: 50px auto;
  padding: 15px;
  text-align: left;
}
.kontak h2 {
  font-size: 50px;
  margin-bottom: 50px;
  color: black;
}
.kontak h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.kontak p {
  margin-bottom: 20px;
  padding-left: 19px;
}

/* Kegiatan Sekolah Styling */
.container-ekskul {
  max-width: 1300px;
  color: black;
  margin: 50px auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.ekskul.captionn p,
b {
  font-size: 20px;
}

.ekskul img {
  width: 25%;
  width: 250px;
  height: 200px;
  margin: 10px;
  box-shadow: 5px 5px 5px black;
}

.ekskul img:hover {
  transition: 0.3s;
  margin-top: 5px;
  box-shadow: 5px 5px 20px black;
}

/* Gallery Styling */
.captionn {
  max-width: 1300px;
  color: black;
  margin: 50px auto;
  text-align: center;
}
.captionn h1 {
  font-size: 50px;
  color: black;
}
.container-galery {
  max-width: 1300px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail img {
  width: 30%;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.75);
}

.thumbnail img {
  width: 250px;
  height: 200px;
  margin: 10px;
}

.thumbnail img:hover {
  box-shadow: 5px 15px 20px rgb(0, 0, 0, 0.75);
  margin-top: 5px;
  transition: 0.3s;
}

/* image slider */
.slider {
  overflow: hidden;
}

.slider figure {
  position: relative;
  width: 550%;
  animation: 10s slider infinite;
}

.slider figure img {
  width: 20%;
  float: left;
  width: 1350px;
  height: 550px;
}

/* program keahlian */
.jurusan {
  max-width: 1300px;
  margin: 50px auto;
  text-align: center;
  color: black;
}

.jurusan h1 {
  font-size: 50px;
}
.grid {
  max-width: 1300px;
  display: flex;
  margin: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.keahlian {
  width: 550px;
  height: auto;
  margin: 10px;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px black;
  background-color: white;
}
.keahlian img {
  width: 300px;
  height: 150px;
}

.fotokegiatanbusana img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50px;
}

/* responsive breakpoint */

/* ukuran mobile */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
    z-index: 2;
  }
  .nav ul {
    width: 70%;
  }
  .widgets {
    width: 20%;
    margin-bottom: -10px;
  }
  .nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: blue;
    z-index: 2;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  .nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
  .widgets {
    width: 90%;
    justify-content: center;
  }
  .logo h2 {
    color: white;
    margin-left: -50px;
  }

  .imgsmk img {
    width: 85%;
    height: 250px;
    margin-left: 38px;
  }
  .slider figure img {
    width: 20%;
    float: left;
    width: 500px;
    height: 300px;
  }
  .keahlian img {
    width: 250px;
    height: 200px;
  }

  .fotokegiatanbusana img {
    width: 70px;
    height: 70px;
  }

  .containervisi-misi img {
    height: 500px;
    width: 400px;
  }
  .container-dua {
    display: flex;
    justify-content: space-between;
    color: white;
  }

  .widgets {
    width: 20%;
  }
  .container-tiga {
    display: flex;
    justify-content: center;
  }

  .container-satu {
    display: flex;
    justify-content: space-between;
  }

  .berita {
    display: flex;
    justify-content: center;
  }

  .imgberita1 img {
    width: 390px;
    height: 195px;
  }
}

@media (min-width: 600px) {
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
}
